.tab{
    background: rgba(255, 255, 255, .3);
    height: 80px;
}
.tab ul{
    display: flex;
    flex-direction: row;
    height:100%;
    overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tab ul::-webkit-scrollbar {
    display: none;
  }
.tab li{
    color:#fff;    
    border-right:1px solid #000;
    display: flex;
    padding:0 30px;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}
.tab li:hover,
.tab li.active{
    border-bottom:2px solid #FFD700;
}

.tabContent{
    min-height: 400px;
    background: #1D1E20;
    color: #999;
    font-size: 16px;
    line-height: 24px;
}
.tabContent p{
    min-height: 24px;
}

.nav{
    height:60px;
    line-height: 60px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    color:#fff;
    padding: 0 25px;
    font-size: 14px;
}
.nav ul li.active{
    border-bottom:2px solid #FFD700;
}


.slider{
    height: 400px;
}
.custom-pagination{
    margin-top: 30px;
}
.custom-pagination ul{
    display: flex;
    justify-content: center;

}
.custom-pagination li{
    width:50px;
    height: 10px;
    border-top: 4px solid rgba(255, 255, 255, .7);
    margin:0 5px;
}
.custom-pagination li.active{
    border-top: 4px solid #FFD700
}