.tabContent{
    position: relative;
    min-height: 400px;
    color: #999;
    font-size: 16px;
    line-height: 24px;
}
.tabContent p{
    min-height: 24px;
}

/* 内容页面高度 */
.slider{
    height: 456px;
}
.slider .slide-item{
    overflow: hidden;
    overflow-y: auto;
    height:100%;
}
.slider .slide-item ul{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.slider .slide-item ul li{
    position: relative;
    overflow: hidden;
    flex: 0 0 calc(25% - 15px);
}
.slider .slide-item ul li p{
    position: absolute;
    inset: 0 0 60px 0;
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    padding:10px;
    color:#fff;
    transform: translateY(-100%);
    opacity: 0;
    transition: .3s all;
    overflow: hidden;
}
.slider .slide-item ul li h4{
    height: 60px;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    transition: .3s all;
}
.slider .slide-item ul li:hover p{
    transform: translateY(0);
    opacity: 1;
}
.slider .slide-item ul li:hover h4{
    background: rgba(255, 215, 0, .7);
}


/* 自定义指示器 */
.custom-pagination{
    margin-top: 70px;
}
.custom-pagination ul{
    display: flex;
    justify-content: center;

}
.custom-pagination li{
    width:50px;
    height: 20px;
    margin:0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.custom-pagination li::before{
    content: '';
    display: block;
    height:4px;
    width:100%;
    background: rgba(255, 255, 255, .7);
}
.custom-pagination li.active::before{
    background:#FFD700
}
/* 自定义上下翻页 */
.custom-prev,
.custom-next{
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    width:36px;
    height:36px;
    display: flex;
    background: rgba(255, 255, 255, .1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.custom-prev:hover,
.custom-next:hover{
    background: #FFD700;
    color: #333;
}
.custom-prev{
    left:-76px
}
.custom-next{
    right:-76px
}
.custom-prev.disabled,
.custom-next.disabled{
    opacity: .3;
    pointer-events: none;
    cursor: default;
}

/* 左侧子导航 */
.sub-nav li{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    margin-bottom: 1px;
}
.sub-nav li:hover{
    background: rgba(255, 215, 0, .3);
}
.sub-nav li.active{
    border-left:2px solid #FFD700;
}
.sub-nav li a{
    display: block;
    height:100%;
    color:#fff
}
























