@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 5120px) {
  .bg-login-bg,
  .bg-analysis-bg{
    max-width: 100%;
  }
  
  .learn-container {
    width: 1920px;
  }
  .learn-container .swiper{
    height:700px;
  }
  .news-container {
    width: 1920px;
  }
  .news-container .swiper{
    height:700px;
  }
  .finance-terms-container {
    width: 1800px;
  }
  .finance-terms-container .swiper {
    height: 670px;
  }
  .finance-terms-container .swiper .swiper-slide ul li {
    height:320px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 16px;
    line-height: 32px;
    padding:20px;
  }
  .investor-container{
    width:1500px;
  }
}
@media screen and (max-width: 2560px) {
  .bg-login-bg,
  .bg-analysis-bg{
    max-width: 100%;
  }
  .learn-container {
    width: 1600px;
  }
  .learn-container .swiper{
    height:450px;
  }
  .news-container {
    width: 1600px;
  }
  .news-container .swiper{
    height:500px;
  }
  .finance-terms-container {
    width: 1500px;
  }
  .finance-terms-container .swiper {
    height: 546px;
  }
  .finance-terms-container .swiper .swiper-slide ul li {
    height:260px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 16px;
    line-height: 32px;
    padding:20px;
  }
  .investor-container{
    width:1200px;
  }
}
@media screen and (max-width: 1920px) {  
  .learn-container {
    width: 1600px;
  }
  .learn-container .swiper{
    height:450px;
  }
  .news-container {
    width: 1600px;
  }
  .news-container .swiper{
    height:500px;
  }
  .finance-terms-container {
    width: 1180px;
  }
  .finance-terms-container .swiper {
    height: 456px;
  }
  .finance-terms-container .swiper .swiper-slide ul li {
    height:218px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 14px;
    line-height: 24px;
    padding:10px;
  }  
  .investor-container{
    width:1000px;
  }
}
@media screen and (max-width: 1720px) {  
  .learn-container {
    width: 1440px;
  }
  .news-container {
    width: 1440px;
  }
  .news-container h1{
    font-size: 32px;
  }
  .news-container .swiper{
    height:452px;
  }
  .news-container .swiper .swiper-slide ul li {
    height:215px;
  }  
}
@media screen and (max-width: 1560px) {  
  .learn-container {
    width: 1200px;
  }
  
  .news-container {
    width: 1200px;
  }
  .news-container .swiper{
    height:384px;
  }
  .news-container .swiper .swiper-slide ul li {
    height:180px;
  }
}

@media screen and (max-width: 1320px) {  
  .learn-container {
    width: 1000px;
  }
  .news-container {
    width: 1000px;
  }
  .news-container .swiper{
    height:328px;
  }
  .news-container .swiper .swiper-slide ul li {
    height:152px;
  }
  /* 金融基础术语 */
  .finance-terms-container {
    width: 1000px;
  }
  .finance-terms-container ul li p {
    padding: 10px !important;
    font-size: 12px !important;
    line-height: 22px !important;
  }
  .finance-terms-container ul li h4 {
    font-size: 14px !important;
  }
}

/* 高度适配 */
@media screen and (max-height: 900px) {
  .learn-container,
  .investor-container,
  .news-container,
  .finance-terms-container
   {
    padding-top:60px;
    padding-bottom:60px;
  }
  /* 左侧菜单取消fixed定位 */
  .fixed-left{
    position: absolute;
    top:266px;
    transform: translateY(0);
  }
}

/* 给所有背景图背景色 */
.bg-analysis-bg,
.bg-strategy-bg,
.bg-login-bg{
  background-color: #000;
}


/* WebKit 浏览器 (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #131414;
}

.abrazine{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.abrazine::before{
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(200px);
  z-index: 10;
}
.ball-list ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin-left:-500px;  
  animation: rotate 15s infinite ease-in-out alternate;
  opacity: .7;
}
.ball-list li{
  width:210px; 
  height:210px;
  margin:50px;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px red;
}
@keyframes rotate{
  from{transform: rotate(0) scale(0.8);}
  to{ transform: rotate(360deg) scale(1.2);}
}

.Js-fix-style{visibility: hidden;}

.global-loading{
  width:60px;
  height:60px;
  position: fixed;
  left:50%;
  top:40%;
  z-index: 11000;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  background-size: contain;
  animation: load-rotate 2s infinite linear;
}

@keyframes load-rotate{
  from{transform: rotate(0);}
  to{ transform: rotate(360deg);}
}