@tailwind base;
@tailwind components;
@tailwind utilities;
/* 左侧导航菜单 */
.fixed-left {
  width: 220px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -900px;
}
@media screen and (max-width: 5120px) {
  .bg-login-bg,
  .bg-analysis-bg{
    max-width: 100%;
  }
  .fixed-left {
    margin-left: -1100px;
  }
  .container {
    width: 1920px;
  }
  .container .swiper{
    height:700px;
  }
  .news-container {
    width: 1500px;
  }
  .news-container .swiper{
    height:700px;
  }
  .finance-terms-container {
    width: 1800px;
  }
  .finance-terms-container .swiper {
    height: 670px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 16px;
    line-height: 32px;
    padding:20px;
  }
  .investor-container{
    width:1500px;
  }
}
@media screen and (max-width: 2560px) {
  .bg-login-bg,
  .bg-analysis-bg{
    max-width: 100%;
  }
  .fixed-left {
    margin-left: -900px;
  }
  .container {
    width: 1200px;
  }
  .container .swiper{
    height:450px;
  }
  .news-container {
    width: 1200px;
  }
  .news-container .swiper{
    height:462px;
  }
  .finance-terms-container {
    width: 1500px;
  }
  .finance-terms-container .swiper {
    height: 546px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 16px;
    line-height: 32px;
    padding:20px;
  }
  .investor-container{
    width:1200px;
  }
}
@media screen and (max-width: 1920px) {
  .fixed-left {
    margin-left: -840px;
  }
  .container {
    width: 1000px;
  }
  .container .swiper{
    height:450px;
  }
  .news-container {
    width: 1000px;
  }
  .news-container .swiper{
    height:456px;
  }
  .finance-terms-container {
    width: 1180px;
  }
  .finance-terms-container .swiper {
    height: 456px;
  }
  .finance-terms-container .swiper .swiper-slide ul li p {
    font-size: 14px;
    line-height: 24px;
    padding:10px;
  }  
  .investor-container{
    width:1000px;
  }
}
@media screen and (max-width: 1800px) {
  .fixed-left {
    margin-left: -840px;
  }
}
@media screen and (max-width: 1680px) {
  .fixed-left {
    margin-left: -780px;
  }
  .news-container {
    width: 900px;
  }
}
@media screen and (max-width: 1560px) {
  .fixed-left {
    margin-left: -720px;
  }
  .container {
    width: 850px;
  }
  .news-container {
    width: 850px;
  }
}
@media screen and (max-width: 1440px) {
  .fixed-left {
    margin-left: -660px;
  }
  .container {
    width: 850px;
  }
  .news-container {
    width: 800px;
  }
}
@media screen and (max-width: 1320px) {
  .fixed-left {
    margin-left: -600px;
  }
  .container {
    width: 740px;
  }
  .news-container {
    width: 700px;
  }
  /* 金融基础术语 */
  .finance-terms-container {
    width: 1000px;
  }
  .finance-terms-container ul li p {
    padding: 10px !important;
    font-size: 12px !important;
    line-height: 22px !important;
  }
  .finance-terms-container ul li h4 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 1200px) {
  .fixed-left {
    margin-left: 0;
    left: -220px;
    padding-right: 1px;
    transition: 0.3s all;
  }
  .fixed-left::before {
    content: "|||";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(-90deg);
    transform-origin: right top;
    color: #fff;
    border-radius: 0;
  }
  .fixed-left:hover {
    left:0;
  }
  .fixed-left:hover::before {
    color: #ffd700;
  }
}

/* 高度适配 */
@media screen and (max-height: 1000px) {
  .container,
  .investor-container,
  .news-container,
  .finance-terms-container
   {
    padding-top:60px;
    padding-bottom:60px;
  }
  /* 左侧菜单取消fixed定位 */
  .fixed-left{
    position: absolute;
    top:266px;
    transform: translateY(0);
  }
}


/* WebKit 浏览器 (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #131414;
}

.abrazine{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.abrazine::before{
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(200px);
  z-index: 10;
}
.ball-list ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin-left:-500px;  
  animation: rotate 15s infinite ease-in-out alternate;
  opacity: .7;
}
.ball-list li{
  width:210px; 
  height:210px;
  margin:50px;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px red;
}
@keyframes rotate{
  from{transform: rotate(0) scale(0.8);}
  to{ transform: rotate(360deg) scale(1.2);}
}