/* 内容页面高度 */
.slider {
  /* height: 400px; */
}
.slider .slide-item {
  margin: 30px 70px;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
}
/* 自定义指示器 */
.custom-pagination {
  margin-top: 20px;
}
.custom-pagination ul {
  display: flex;
  justify-content: center;
}
.custom-pagination li {
  width: 50px;
  height: 20px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.custom-pagination li::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.custom-pagination li.active::before {
  background: #ffd700;
}
/* 自定义上下翻页 */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #999;
}
.custom-prev:hover,
.custom-next:hover {
  background: #ffd700;
  color: #333;
}
.custom-prev {
  left: -66px;
}
.custom-next {
  right: -66px;
}
.custom-prev.disabled,
.custom-next.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 600px;
  z-index: 1000;
  color: #999;
  font-size: 16px;
  line-height: 32px;
  margin: -300px 0 0 -500px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all;
}
.modal::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal-content {
  position: relative;
  background: #1d1e20;
  height: 100%;
  padding: 40px 50px;
  overflow-y: auto;
  z-index: 1100;
}
.modal-content p {
  min-height: 32px;
}
.modal-close {
  position: absolute;
  right: -51px;
  top: 0;
  width: 50px;
  height: 50px;
  background: #1d1e20 url("/icon-close.png") center center no-repeat;
  background-size: 16px;
  cursor: pointer;
  z-index: 1100;
}
.modal-close:hover {
  background-color: rgba(255, 215, 0, 0.7);
}
.active {
  visibility: visible;
  opacity: 1;
}
