.iconRotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: white;
  transition: transform 0.3s;
}

.iconOriginal {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  color: white;
  transition: transform 0.3s;
}

.current:after{
  content: '';
  position: absolute;
  left:0;
  right:0;
  bottom:0; 
  height: 2px;
  background-color: #FFD700;
}
