/* 左侧子导航 */
.sub-nav li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1px;
}
.sub-nav li:hover {
  background: rgba(255, 215, 0, 0.3);
}
.sub-nav li.active {
  border-left: 2px solid #ffd700;
}
.sub-nav li a {
  display: block;
  height: 100%;
  color: #fff;
}
