/* 左侧子导航 */
.sub-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.sub-nav li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1px;
  padding:0 5px;
}
.sub-nav li:hover {
  background: rgba(255, 215, 0, 0.3);
}
.sub-nav li.active {
  border-left: 2px solid #ffd700;
}
.sub-nav li a {
  display: block;
  height: 100%;
  color: #fff;
}
.sub-nav li .ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
